@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container">
   
</div>
<div class="container-fluid">
    <img style="margin-top:40px; width:400px;height:400px" src="~/Images/fineDep.jpg" />
    <div style="margin-top:40px" class="col-sm-8">

        <form class="form-inline" style="border:thin;background-color:lightsteelblue">
            
            <h2 class="title text-center">About us</h2>
            
            <div class="form-group col-md-12">
                <br />
                <span style="font-size:x-large;margin-left:140px" class="label label-default">Punjab University of Information Technology</span>
                <br />
                <br />
                <span style="font-size:larger ; margin-left: 160px" class="label label-primary">Enterprize Application Development</span>
                <br />
                <br />
                <span style="font-size: larger; margin-left: 200px" class="label label-success">Term Project</span>
                <br />
                <br />
                <br />
                <span style="font-size: larger; margin-left: 200px" class="label label-info">Submited to: Sir Shuja ur Rehman</span>
                <br />
                <br />
                <span style="font-size: larger; margin-left: 200px" class="label label-warning">Name : Shehraz Khan</span>
                <br />
                <br />
                <span style="font-size: larger; margin-left: 200px" class="label label-danger">Roll No: Bitf12a046</span>
                <br />
                <br />
                <br />
                <br />

            </div>

        </form>
    </div>

</div>